.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  max-width: 1080px;
  margin: 10px auto;
}

.input {
  padding: 15px;
  width: 80%;
  margin: auto;
  /* border: 1px solid lightgray; */
  border-radius: 2rem;
  font-size: 26px;
}

.input:focus {
  outline: none;
}

.section__temperature {
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.weather-city {
  font-size: 4rem;
}